.slotsWrapper {
    display: grid;
    grid-template-areas: 
    "s1 M M M s10"
    "s2 M M M s11"
    "s3 M M M s12"
    "s4 M M M s13"
    "s5 M M M s14"
    "bla1 M M M s15"
    "bla2 M M M s16"
    "s6 M M M s17"
    "bla3 s7 s8 s9 bla4";
    column-gap: 10px;
    row-gap: 10px;
    height: 50hv;
    align-items: center;
    padding: 0 2rem 2rem 2rem;
    background: #bfbfbf
  }
  .goback{
    text-decoration: none;
    border: 2px solid #999;
    padding: 1rem;
    background-image: radial-gradient(red 5%, #4c0302 92%, #330000 98%);
    border-radius: 0.25rem;
    color: #FEFEFE;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
    font-family: 'PT Sans', sans-serif;
    margin: 0.25rem 0;
    width: 100%;
  }
.goback:hover{
  color:yellow
}
  .slot {
    text-align: center;
    border: 2px solid #999;
    padding: 1rem;
    background-image: radial-gradient(red 5%, #4c0302 92%, #330000 98%);
    border-radius: 0.25rem;
    color: #FEFEFE;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
    font-family: 'PT Sans', sans-serif;
    margin: 0.25rem 0;
  }
  .slotlink:link{
    text-decoration: none;
    color: black
  }
  .slotlink:visited{
    color: #ffff00
  }
  .slotlink:hover{
    color: white;
  }
#slot0 {
  grid-area: s1;
}
#slot1 {
  grid-area: s2;
}
#slot2 {
  grid-area: s3;
}
#slot3 {
  grid-area: s4;
}
#slot4 {
  grid-area: s5;
}
#slot5 {
  grid-area: s6;
}
#slot6 {
  grid-area: s7;
}
#slot7 {
  grid-area: s8;
}
#slot8 {
  grid-area: s9;
}
#slot9 {
  grid-area: s10;
}
#slot10 {
  grid-area: s11;
}
#slot11 {
  grid-area: s12;
}
#slot12 {
  grid-area: s13;
}
#slot13 {
  grid-area: s14;
}
#slot14 {
  grid-area: s15;
}
#slot15 {
  grid-area: s16;
}
#slot16 {
  grid-area: s17;
}
/* Well boss not sure what else to do at this rate. It looks amazing in terms of format. Just have to think of a way to make it look more ' interesting '. 
If you have any ideas please let me know here. :)  I have realized that this does not look to good on mobile. Any suggestions? */