input[type=text]{
background-color: lightgray;
margin-bottom: 10px;
font-size: 30px
}


@media(max-width: 900px) {
    input[type=text]{
     background-color: darkgray;
     font-size: 20px;
     }  
    }

.formtitle{
    color: white;
    font-size: 30px;
    margin-bottom: 1px;
}
.goback{
    text-decoration: none;
    border: 2px solid #999;
    background-image: radial-gradient(red 5%, #4c0302 92%, #330000 98%);
    border-radius: 0.25rem;
    color: #FEFEFE;
    font-size: 25px;
    margin-bottom: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}
.go{
    margin-top: 50px;
}